{% extends "index.html" %}

{% block content %}

<div class="jumbotron">
    <div class="media">
        <div class="media-left media-top">
            <img class="avatar pull-left" src="{{ url_for('static', filename='img/trump.png') }}">
        </div>
        <div class="media-body media-top">
            <strong class="media-heading">Donald J. Trump
                <b class="handle"><a class="handle" href="https://github.com/Teeyan/AutoTrump"> @tianissohot</a></b>
            </strong>
            <p class="generate">
                <form class="original" action="{{url_for('generate')}}" method="get">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Generate</button></form>
            </p>
        </div>
    </div>
</div>

{% endblock %}