{% extends "index.html" %}

{% block content %}
<div class="jumbotron">
    <div class="media">
        <div class="media-left media-top">
            <img class="avatar pull-left" src="{{ url_for('static', filename='img/trump.png') }}">
        </div>
        <div class="media-body media-top">
            <strong class="media-heading">Donald J. Trump
                <b class="handle"><a class= "handle" href="github.com/Teeyan/AutoTrump"> @tianissohot </a></b>
            </strong>
            <p class="tweet">{{ tweet }}</p>
        </div>
    </div>
</div>

<div class="refresh">
    <form action="{{url_for('generate')}}" method="get">
    <button type="submit" class="btn btn-primary btn-large btn-block">Another One</button>
    </form>
</div>
{% endblock %}
